@model DAROVAapp.Models.ApplicationUser
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <img src="~/img/@Model.ImageURL" class="avatar"/>
        </div>
        <div class="col-md-7">
            <div class="row" style="margin-top: -15px">
                <h2>@Model.Nickname </h2>
            </div>
            <h4 class="row">
                @Model.EducationsEstablishment, @Model.Faculty, @Model.Speciality, @Model.Grade grade
            </h4>
            <div class="row">
                <b>Email:</b> @Model.Email
            </div>
            <div class="row">
                <b>Phone number:</b> @Model.PhoneNumber
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-btn-profile">
            @Html.ActionLink("Edit profile", "Index", "Profile", null, new { @class = "btn btn-default btn-profile" })
        </div>
    </div>
</div>
